<%-include("../../views/partials/user/header.ejs")%>


    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <%if(bannerData.banner1){%>
                
            <div class="hero__items set-bg" data-setbg="<%=bannerData.banner1.image%>" style="background-size: cover; background-position: center center;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>iPhone Collection</h6>
                                <h2>iPhone 14 Series - 2030</h2>
                                <p>Discover the new iPhone with cutting-edge features and design that will elevate your experience.</p>
                                <%if(bannerData.banner1.product){%>
                                <a href="/productDetails?id=<%=bannerData.banner1.product%>" class="primary-btn btn-info">Shop now <span class="arrow_right"></span></a>
                                <%}else{%>
                                    <a href="#" class="primary-btn btn-info">Shop now <span class="arrow_right"></span></a>
                                    <%}%>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%}else{%>
           
            <div class="hero__items set-bg" data-setbg="img/image1.jpg" style="background-size: cover; background-position: center center;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>iPhone Collection</h6>
                                <h2>iPhone 14 Series - 2030</h2>
                                <p>Discover the new iPhone with cutting-edge features and design that will elevate your experience.</p>
                                <a href="#" class="primary-btn btn-info">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>

            <!--banner 2-->
            <%if(bannerData.banner2){%>
                <div class="hero__items set-bg" data-setbg="<%=bannerData.banner2.image%>" style="background-size: cover; background-position: center center;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Summer Collection</h6>
                            <h2>Fall - Winter Collections 2030</h2>
                            <p>Experience the luxury of our new collections with exceptional quality and design.</p>
                            <%if(bannerData.banner2.product){%>
                                <a href="/productDetails?id=<%=bannerData.banner2.product%>" class="primary-btn btn-info">Shop now <span class="arrow_right"></span></a>
                                <%}else{%>
                                    <a href="#" class="primary-btn btn-info">Shop now <span class="arrow_right"></span></a>
                                    <%}%>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
            <%}else{%>
                <div class="hero__items set-bg" data-setbg="https://res.cloudinary.com/dlel7tyzq/image/upload/v1743941181/hero2_dr2hmp.jpg" style="background-size: cover; background-position: center center;">
                 <div class="container">
                  
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Fall - Winter Collections 2030</h2>
                                <p>Experience the luxury of our new collections with exceptional quality and design.</p>
                                <a href="#" class="primary-btn btn-info">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
                <%}%>

        </div>
    </div>
</div>
    </section>
    <!-- Hero Section End -->
<style>
    .product-img-action-wrap {
    position: relative;
}

.product-action-1 {
    position: absolute;
    top:0px;
    right: 80px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.product-action-1:hover {
    background: rgba(0, 0, 0, 0.8);
}

.product-action-1 i {
    color: white;
    font-size: 18px;
}
.swal2-toast {
    font-size: 12px !important;
    font-family: 'Arial', sans-serif;
  }

</style>
    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <%if(bannerData.banner3){%>
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="<%=bannerData.banner3.image%>" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Android Collections 2030</h2>
                            <%if(bannerData.banner3.product){%>
                            <a style="color:#091db1;"href="/productDetails?id=<%=bannerData.banner3.product%>">Shop now</a>
                            <%}else{%>
                                <a style="color:#091db1;"href="#">Shop now</a>
                                <%}%>
                        </div>
                    </div>
                </div>
              <%}else{%>
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="img/image3.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Android Collections 2030</h2>
                            <a style="color:#091db1;"href="#">Shop now</a>
                        </div>
                    </div>
                </div>
                <%}%>
                <%if(bannerData.banner4){%>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="<%=bannerData.banner4.image%>" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Flagships</h2>
                            <%if(bannerData.banner4.product){%>
                            <a href="/productDetails?id=<%=bannerData.banner4.product%>" style="color:#091db1;">Shop now</a>
                            <%}else{%>
                                <a href="#" style="color:#091db1;">Shop now</a>
                                <%}%>
                        </div>
                    </div>
                </div>
                <%}else{%>
                    <div class="col-lg-5">
                        <div class="banner__item banner__item--middle">
                            <div class="banner__item__pic">
                                <img src="img/image4.jpg" alt="">
                            </div>
                            <div class="banner__item__text">
                                <h2>Flagships</h2>
                                <a href="#" style="color:#091db1;">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <%}%>

                    <%if(bannerData.banner5){%>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="<%=bannerData.banner5.image%>" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>ios devices 2030</h2>
                            <%if(bannerData.banner5.product){%>
                            <a href="/productDetails?id=<%=bannerData.banner5.product%>" style="color:#091db1;">Shop now</a>
                            <%}else{%>
                                <a href="" style="color:#091db1;">Shop now</a>
                                <%}%>
                        </div>
                    </div>
                </div>
                <%}else{%>
                    <div class="col-lg-7">
                        <div class="banner__item banner__item--last">
                            <div class="banner__item__pic">
                                <img src="img/image5.jpg" alt="">
                            </div>
                            <div class="banner__item__text">
                                <h2>ios devices 2030</h2>
                                <a href="#" style="color:#091db1;">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <%}%>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <!-- Filter Section -->
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="filter-item">New Arrivals</li>
                </ul>
            </div>
        </div>

     <!-- Product Items -->
        <div class="row product__filter">
            <%for(let i=0;i<products.length;i++){%>
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="<%=products[i].productImage[0]%>">
                        <span class="label" style="background-color: #091db1;color:white;">New</span>
                        <ul class="product__hover">
                            <li><a  onclick="addToWishlist('<%=products[i]._id%>')"><img src="img/icon/heart.png" alt="wishlist"></a></li>
                            <li><a href="/productDetails?id=<%=products[i]._id%>"><img src="img/icon/search.png" alt="productDetails"></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><%=products[i].productName%></h6>
                        <a onclick="addToCart('<%=products[i]._id%>')" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5><s style="font-size: 13px;color:grey;">₹<%=products[i].regularPrice%></s> ₹<%=products[i].salePrice%>.0</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
            </div>
        </div>
    </div>
  </section>
  <!-- Product Section End -->
  
  <script>
      function addToCart(pid) {
    $.ajax({
        url: `/addToCart`,
        method: 'POST',
        data: JSON.stringify({ pid: pid }), // Ensure proper data format
        contentType: "application/json", // Specify content type
        dataType: "json", // Expect JSON response
        success: function (response) {
            Swal.fire({
                title: response.message,
                icon: 'success',
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 2000
            });
        },
        error: function (xhr) {
            let errorMessage = "Something went wrong!";
            if (xhr.responseJSON && xhr.responseJSON.message) {
                errorMessage = xhr.responseJSON.message;
            }
            Swal.fire({
                title: errorMessage,
                icon: 'error',
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 2000
            });
        }
    });
}

function addToWishlist(pid)
    {
        $.ajax({
            url: `/addToWishlist`,
            method: 'POST',
            data: {pid:pid},
            success: function (response) {
                if(response.success)
            {
                Swal.fire({
            title:response.message,
            icon: 'success',
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 2000
        });
    }
            },
            error: function (response) {
                Swal.fire({
            title:response.message,
            icon: 'success',
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 2000
        });
        }});
    }

  </script>

    
        <%-include("../../views/partials/user/footer.ejs")%>
	
